[submodule "external/mujoco_ros2_control"]
	path = external/mujoco_ros2_control
	url = git@github.com:ETHZ-RobotX/mujoco_ros2_control.git
[submodule "external/unitree_a2_mujoco"]
	path = external/unitree_a2_mujoco
	url = git@github.com:ETHZ-RobotX/unitree_a2_mujoco.git
[submodule "external/a2_description"]
	path = external/a2_description
	url = git@github.com:ETHZ-RobotX/a2_description.git
[submodule "external/a2_locomotion_controller"]
	path = external/a2_locomotion_controller
	url = git@github.com:ETHZ-RobotX/a2_locomotion_controller.git
[submodule "external/unitree_mujoco"]
	path = external/unitree_mujoco
	url = git@github.com:ETHZ-RobotX/unitree_mujoco.git
[submodule "external/unitree_ros2"]
	path = external/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2.git
